.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#logo {
  margin-left: 0.5rem;
  font-weight: bold;
}

div .alert{
  max-width: 360px;
  margin: auto;
}

.login-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.signup-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.badge {
  padding-left: 0em;
  padding-right: 0em;
}

/* #member {
  position: relative;
  max-width: 360px;
  margin: 0 auto 0;
  padding: 45px;
  text-align: center;
} */

  .sidebar {
    height: 100%;
    padding-top: 1rem;
    background-color: lightblue;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    #profile-pic {
      width: 85%;
      border-radius: 50%;
      margin-bottom: 0.5rem;
    }

    .create-form {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .card {
      border: 0px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    #image {
      width: 300px;
      align-content: space-between;
      
    }

    /* #header {
      padding-inline-start: 300px;
    } */